
body{
    padding:50px;
}

#registerNow{
    text-align: center;
    font-family: cursive;
}



.container {
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.form-group{
    margin-bottom:30px;
}

.errormessage {
    font-family: cursive;
    margin-left: 835px;
    width: 250px;
    height: 25px;
    border: 2px solid black;
    background-color: red;
}

.registersuccess {
    font-family: cursive;
    margin-left: 835px;
    width: 250px;
    height: 25px;
    background-color: green;
    border: 2px solid black;
}